apiVersion: apps/v1  # Define a versão da API usada para o Deployment.
kind: Deployment     # Define o tipo do recurso como Deployment.
metadata:
  name: lanchonetedobairro-api
  namespace: dev
  labels:
    app: lanchonetedobairro-api               # Rótulo para identificar o Deployment.
spec:
  replicas: 1                # Define o número desejado de réplicas de Pods.
  selector:                  # Critério para encontrar os Pods gerenciados por este Deployment.
    matchLabels:
      app: lanchonetedobairro-api             # O Deployment gerenciará os Pods com este rótulo.
  template:                  # Define o template de Pods que o Deployment gerenciará.
    metadata:
      labels:
        app: lanchonetedobairro-api           # Os Pods gerenciados terão este rótulo.
    spec:
      containers:            # Define os containers que serão executados em cada Pod.
      - name: lanchonetedobairro-api          # Nome do container.
        image: aleehcr/lanchonetedobairro_api:1
        ports:
        - containerPort: 80 
        envFrom:
          - configMapRef: 
              name: lanchonetedobairro-config-map
          - secretRef: 
              name: secret
  strategy:                  # Define a estratégia de atualização dos Pods.
    type: RollingUpdate      # O tipo de estratégia de atualização. "RollingUpdate" atualiza gradualmente os pods.
    rollingUpdate:           # Configurações para a atualização gradual.
      maxUnavailable: 1      # Quantos Pods podem estar indisponíveis durante a atualização (no máximo 1).
      maxSurge: 1            # Quantos Pods adicionais podem ser criados acima do número de réplicas durante a atualização.

